#courtTable {
	width: 100%;
	border: none;
}

#courtTable tr td {
	width: 33%;
	background: #eeeeee;
	border-right: 1px solid #d9d9d9;
	text-align: center;
	display: block;
	height: 120px;
}

#courtTable tr td:last-child {
	width: 34%;
	border: none;
}

#courtTable a {
	display: block;
/*	line-height: 100px;*/
}

#courtContainer .ui-collapsible-content {
	padding: 0;
	margin: 0;
}

.courtTitle {
	font-weight: bold;
	text-decoration: underline;
}